.backgroundImage {
    position: relative;
}

.backgroundImage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: .3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3cpath d='M -563.0073478747338%2c393 C -467.01%2c343.4 -275.01%2c154.8 -83.00734787473381%2c145 C 108.99%2c135.2 204.99%2c356.2 396.9926521252662%2c344 C 588.99%2c331.8 684.99%2c76.2 876.9926521252662%2c84 C 1068.99%2c91.8 1244.39%2c366.6 1356.9926521252662%2c383 C 1469.59%2c399.4 1423.4%2c209.4 1440%2c166' stroke='rgba(134%2c 107%2c 254%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -70.47129093939083%2c502 C 25.53%2c444.4 217.53%2c251.2 409.5287090606092%2c214 C 601.53%2c176.8 697.53%2c315 889.5287090606091%2c316 C 1081.53%2c317 1177.53%2c190.8 1369.5287090606091%2c219 C 1561.53%2c247.2 1835.43%2c460.2 1849.5287090606091%2c457 C 1863.62%2c453.8 1521.91%2c253.8 1440%2c203' stroke='rgba(134%2c 107%2c 254%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -748.9679456452295%2c168 C -652.97%2c205.4 -460.97%2c349.8 -268.9679456452296%2c355 C -76.97%2c360.2 19.03%2c194.2 211.03205435477042%2c194 C 403.03%2c193.8 499.03%2c368 691.0320543547705%2c354 C 883.03%2c340 1021.24%2c137.4 1171.0320543547705%2c124 C 1320.83%2c110.6 1386.21%2c254.4 1440%2c287' stroke='rgba(134%2c 107%2c 254%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -684.616547702211%2c195 C -588.62%2c247.4 -396.62%2c449.4 -204.61654770221105%2c457 C -12.62%2c464.6 83.38%2c242.8 275.38345229778895%2c233 C 467.38%2c223.2 563.38%2c438.6 755.383452297789%2c408 C 947.38%2c377.4 1098.46%2c68.4 1235.383452297789%2c80 C 1372.31%2c91.6 1399.08%2c388.8 1440%2c466' stroke='rgba(134%2c 107%2c 254%2c 0.3)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* .glassmorphism {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
} */

.cardGlassEffect {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    /* border: 1px solid rgba(150, 150, 150, 0.1); */
    word-break: break-word;
}

.button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    background: #866bfe;
    padding: .4rem .8rem;
    transition: background .2s;
    border-radius: .2rem;
}

.button:hover {
    background: #5a43be;
}